/* General Card --------------- */
.card {
    border-radius: 4px;
    width: 100%;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}
/* General Card --------------- */

/* top-bar--------------------- */
.top-bar{
    background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 40px;
}
.top-bar img{
    height: 25px;
    width: 25px;
    display: inline;
}
.top-bar h1{
    color: whitesmoke;
    display: inline;
}
/* top-bar--------------------- */

/* instruction----------------- */
.instructions{
    background: #606c88;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f4c6b, #606c88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding-top: 10px;
    padding-bottom: 10px;
}    
.instructions h2{
    color: whitesmoke;
}
.instructions table{
    width: 100%;
}
.number{
    text-align: center;
    color: white;
    border-radius: 100px;
    background: #141E30;    
}
.inst{
    color: whitesmoke;
    padding-left: 8px;
    font-weight: 800;
}
.partition{
    font-size: 18px;
    border-right: double;
    text-align: right;
    margin-right: 5px;
    padding-right: 5px;
}
/* instruction----------------- */

/* dynamic--------------------- */
.dynamic-section{
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.dynamic-section table{
    width: 100%;
}
.dynamic-section .section-title{
    width: 100%;
    font-size: 23px;
    color: black;
    text-align: center;
}
.dynamic-section .section-body{
    width: 100%;
    font-size: 18px;
    color: black;
    text-align: center;
}
/* dynamic--------------------- */

/* bottom-bar------------------ */
.bottom-bar{
    position: fixed;
    float:center;
    bottom:0;
    height: 40px;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bottom-bar img{
    height: 25px;
    width: 25px;
    display: block;
}
/* bottom-bar------------------ */

/* Making Nav Stick ----------- */
.sticky {
    border-radius: 4px;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.sticky-bottom {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
}
/* Making Nav Stick ----------- */