.map-build-section{
    background-color: aquamarine;
    border-radius: 9px;
    width: 60%;
}
.print-qr-section{
    background-color: aquamarine;
    border-radius: 9px;
    width: 60%;
}
.north-arrow{
    height:10%;
    width:10%;
}
.points-demo{
    height: 50px;
    width: 60px;
    background-color: blue;
}
.br-inputs{
    display: block;
}
.input-label{
    text-align: right;
}
.done-img{
    width: 60%;
    height: 30%;
    border-radius: 40px;
}
