/* GENERAL ----------------------------------*/

/* GENERAL ----------------------------------*/

/* STEP 1 CSS--------------------------------*/
.qr-scanner{
    border: 1px;
    border-radius: 10px;
    background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.qr-scanner .fit-to-div{
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden;
    width: 80%;
    margin: 4%;
}
/* STEP 1 CSS--------------------------------*/

/* STEP 2 CSS--------------------------------*/
.dest-selection{
    display: none;
}
/* STEP 1 CSS--------------------------------*/

.route-inst{
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
    border: 0;
    background: aliceblue;
    box-shadow: 2px 3px 0px 1px black;
}